* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "roboto", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
}
ul {
  list-style: none;
  margin-right: 50px;
  display: flex;
}
ul li {
  margin-left: 20px;
}

ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #f9faf8;
  filter: contrast(75%);
  transition-duration: 0.4s;
}
ul li a:hover {
  color: #3882f6;
}

.header {
  display: flex;
  background: #1f2937;
  align-items: center;
  justify-content: space-between;
  height: 75px;
}

.header-logo h1 {
  font-size: 24px;
  color: #f9faf8;
  margin-left: 50px;
}

.hero img {
  width: 35%;
  margin-right: 50px;
}

.hero {
  background: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 600px;
}

.hero h1 {
  font-size: 48px;
  color: #f9faf8;
  margin-left: 50px;
}
.hero p {
  font-size: 18px;
  color: #e5e7eb;
  filter: contrast(75%);
  margin-left: 50px;
  margin-top: 20px;
}

.hero button {
  padding: 8px 30px;
  border-radius: 10px;
  background-color: #3882f6;
  color: white;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 16px;
  border: none;
  transition-duration: 0.4s;
}

.hero button:hover {
  color: #3882f6;
  background-color: white;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
}
.information .text {
  margin-top: 20px;
  font-size: 26px;
  font-weight: bold;
  color: #1f2937;
}
.content {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-top: 50px;
  text-align: center;
  margin-bottom: 150px;
}

.cards p {
  font-size: 18px;
  color: #1f2937;
  filter: contrast(75%);
}

.cards img {
  width: 100%;
  border-radius: 20px;
  border: solid 4px #3882f6;
  margin-bottom: 20px;
}

.quote {
  background: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote .text em {
  font-size: 36px;
  color: #1f2937;
}

.quote .text {
  margin: 200px 300px;
  display: flex;
  flex-direction: column;
}

.quote .text h4 {
  align-self: flex-end;
  margin-top: 20px;
  font-size: 25px;
}

.card .content {
  display: flex;
  flex-direction: column;
}

.footer {
  background: #1f2937;
  color: #e5e7eb;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  color: #e5e7eb;
  text-decoration: none;
  transition-duration: 0.4s;
}
.footer a:hover {
  color: #3882f6;
  text-decoration: none;
}

.call {
  padding: 100px 50px;
}

.call .card {
  background-color: #3882f6;
  border-radius: 10px;
  padding: 50px 125px;
}
.call .card {
  display: flex;
  justify-content: space-between;
}
.button button {
  background-color: #3882f6;
  border: white solid;
  border-radius: 10px;
  padding: 5px 25px;
  color: white;
  font-size: 16px;
  transition-duration: 0.4s;
}

.button button:hover {
  color: #3882f6;
  background-color: white;
  border: #1f2937 solid;
}
.card .text h4 {
  color: white;
  font-size: 22px;
}
.card .text p {
  color: white;
  filter: contrast(75%);
}
